WebServiceSoap/WSCliente/src/conf/xml-resources/web-service-references/RutWebService/wsdl/localhost_8080/WSSoap/RutWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.proyecto.empresa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.proyecto.empresa.com/">

<xs:element name="insertarRut" type="tns:insertarRut" />

<xs:element name="insertarRutResponse" type="tns:insertarRutResponse" />

<xs:element name="listarRut" type="tns:listarRut" />

<xs:element name="listarRutResponse" type="tns:listarRutResponse" />

<xs:complexType name="insertarRut">
<xs:sequence>
<xs:element name="insertarRut" type="xs:int" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarRutResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarRut">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listarRutResponse">
<xs:sequence>
<xs:element name="return" type="tns:rut" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="rut">
<xs:sequence>
<xs:element name="comparadorRut" type="xs:string" minOccurs="0" />
<xs:element name="digitosRut" type="xs:int" />
<xs:element name="verificadorRut" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>