WebServiceSoap/WSCliente/src/conf/xml-resources/web-service-references/NombrePropioWebService/wsdl/localhost_8080/WSSoap/NombrePropioWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://ws.proyecto.empresa.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.proyecto.empresa.com/">

<xs:element name="agregarNombrePropio" type="tns:agregarNombrePropio" />

<xs:element name="agregarNombrePropioResponse" type="tns:agregarNombrePropioResponse" />

<xs:element name="listarNombrePropio" type="tns:listarNombrePropio" />

<xs:element name="listarNombrePropioResponse" type="tns:listarNombrePropioResponse" />

<xs:complexType name="listarNombrePropio">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listarNombrePropioResponse">
<xs:sequence>
<xs:element name="return" type="tns:nombrePropio" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="nombrePropio">
<xs:sequence>
<xs:element name="apellido" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="nombre" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
<xs:element name="prueba" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarNombrePropio">
<xs:sequence>
<xs:element name="agregarNombrePropio" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="agregarNombrePropioResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>